In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
cd drive

/content/drive

In [3]:
cd My Drive

/content/drive/My Drive

In [4]:
cd Analytics Vindhya

/content/drive/My Drive/Analytics Vindhya

In [5]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import re

In [71]:
dataset=pd.read_csv('/content/drive/My Drive/Analytics Vindhya/train.csv')

In [72]:
dataset

        id  label                                              tweet
0        1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1        2      0  Finally a transparant silicon case ^^ Thanks t...
2        3      0  We love this! Would you go? #talk #makememorie...
3        4      0  I'm wired I know I'm George I was made that wa...
4        5      1  What amazing service! Apple won't even talk to...
...    ...    ...                                                ...
7915  7916      0  Live out loud #lol #liveoutloud #selfie #smile...
7916  7917      0  We would like to wish you an amazing day! Make...
7917  7918      0  Helping my lovely 90 year old neighbor with he...
7918  7919      0  Finally got my #smart #pocket #wifi stay conne...
7919  7920      0  Apple Barcelona!!! #Apple #Store #BCN #Barcelo...

[7920 rows x 3 columns]

In [73]:
import nltk 
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [74]:
from nltk.corpus import stopwords
stop =stopwords.words("english")

In [75]:
dataset['tweet_without_stopwords']=dataset['tweet'].apply(lambda x:' '.join([word for word in x.split() if word not in (stop)]))

In [76]:
dataset.head()

   id  ...                            tweet_without_stopwords
0   1  ...  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2  ...  Finally transparant silicon case ^^ Thanks unc...
2   3  ...  We love this! Would go? #talk #makememories #u...
3   4  ...  I'm wired I know I'm George I made way ;) #iph...
4   5  ...  What amazing service! Apple even talk question...

[5 rows x 4 columns]

In [77]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [78]:
dataset['preprocessed_tweet']=dataset['tweet_without_stopwords'].apply(lambda x:' '.join([ps.stem(word) for word in x.split()]))

In [79]:
from nltk.stem.wordnet import WordNetLemmatizer
lm=WordNetLemmatizer()

In [80]:
dataset['preprocessed_tweet']=dataset['preprocessed_tweet'].apply(lambda x:' '.join([lm.lemmatize(word) for word in x.split()]))

In [81]:
dataset

        id  ...                                 preprocessed_tweet
0        1  ...  #fingerprint #pregnanc test https://goo.gl/h1m...
1        2  ...  final transpar silicon case ^^ thank uncl :) #...
2        3  ...  We love this! would go? #talk #makememori #unp...
3        4  ...  i'm wire I know i'm georg I made way ;) #iphon...
4        5  ...  what amaz service! appl even talk question I u...
...    ...  ...                                                ...
7915  7916  ...  live loud #lol #liveoutloud #selfi #smile #son...
7916  7917  ...  We would like wish amaz day! make everi minut ...
7917  7918  ...  help love 90 year old neighbor ipad morn made ...
7918  7919  ...  final got #smart #pocket #wifi stay connect an...
7919  7920  ...  appl barcelona!!! #appl #store #bcn #barcelona...

[7920 rows x 5 columns]

In [82]:
def remove_punctuation(x):
  return re.sub('[!”#$%&’()*+,-./:;<=>?@[\]^_`{|}~]','',str(x))

In [83]:
def remove_links(x):
  return re.sub(r'(https|http)?:\/\/(\w|\.|\/|\?|\=|\&|\%)*\b', '', x, flags=re.MULTILINE)

In [84]:
dataset['preprocessed_tweet']=dataset['preprocessed_tweet'].apply(remove_links)

In [85]:
dataset

        id  ...                                 preprocessed_tweet
0        1  ...  #fingerprint #pregnanc test  #android #app #be...
1        2  ...  final transpar silicon case ^^ thank uncl :) #...
2        3  ...  We love this! would go? #talk #makememori #unp...
3        4  ...  i'm wire I know i'm georg I made way ;) #iphon...
4        5  ...  what amaz service! appl even talk question I u...
...    ...  ...                                                ...
7915  7916  ...  live loud #lol #liveoutloud #selfi #smile #son...
7916  7917  ...  We would like wish amaz day! make everi minut ...
7917  7918  ...  help love 90 year old neighbor ipad morn made ...
7918  7919  ...  final got #smart #pocket #wifi stay connect an...
7919  7920  ...  appl barcelona!!! #appl #store #bcn #barcelona...

[7920 rows x 5 columns]

In [86]:
#dataset['preprocessed_tweet'] = dataset['preprocessed_tweet'].apply(lambda x: re.sub(r'\B#\w*[a-zA-Z]+\w*','', x))

In [87]:
dataset['preprocessed_tweet']=dataset['preprocessed_tweet'].apply(remove_punctuation)

In [88]:
dataset

        id  ...                                 preprocessed_tweet
0        1  ...  fingerprint pregnanc test  android app beauti ...
1        2  ...  final transpar silicon case  thank uncl  yay s...
2        3  ...  We love this would go talk makememori unplug r...
3        4  ...  i'm wire I know i'm georg I made way  iphon cu...
4        5  ...  what amaz service appl even talk question I un...
...    ...  ...                                                ...
7915  7916  ...  live loud lol liveoutloud selfi smile soni mus...
7916  7917  ...  We would like wish amaz day make everi minut c...
7917  7918  ...  help love 90 year old neighbor ipad morn made ...
7918  7919  ...  final got smart pocket wifi stay connect anyti...
7919  7920  ...  appl barcelona appl store bcn barcelona travel...

[7920 rows x 5 columns]

In [89]:
dataset['preprocessed_tweet']=dataset['preprocessed_tweet'].apply(lambda x:x.lower())

In [90]:
dataset

        id  ...                                 preprocessed_tweet
0        1  ...  fingerprint pregnanc test  android app beauti ...
1        2  ...  final transpar silicon case  thank uncl  yay s...
2        3  ...  we love this would go talk makememori unplug r...
3        4  ...  i'm wire i know i'm georg i made way  iphon cu...
4        5  ...  what amaz service appl even talk question i un...
...    ...  ...                                                ...
7915  7916  ...  live loud lol liveoutloud selfi smile soni mus...
7916  7917  ...  we would like wish amaz day make everi minut c...
7917  7918  ...  help love 90 year old neighbor ipad morn made ...
7918  7919  ...  final got smart pocket wifi stay connect anyti...
7919  7920  ...  appl barcelona appl store bcn barcelona travel...

[7920 rows x 5 columns]

In [99]:
from textblob import TextBlob 
def get_tweet_sentiment(tweet): 
        ''' 
        Utility function to classify sentiment of passed tweet 
        using textblob's sentiment method 
        '''
        # create TextBlob object of passed tweet text 
        analysis = TextBlob(tweet)
        # set sentiment 
        if analysis.sentiment.polarity >=0: 
            return 0
        else: 
            return 1

In [100]:
dataset['Predicted_label_text_blob']=dataset['preprocessed_tweet'].apply(get_tweet_sentiment)

In [101]:
from sklearn.metrics import confusion_matrix

In [102]:
cm=confusion_matrix(dataset['label'].values,dataset['Predicted_label_text_blob'])

In [103]:
cm

array([[5375,  519],
       [1315,  711]])

In [50]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 100)  #150

In [51]:
X = cv.fit_transform(dataset['preprocessed_tweet']).toarray()

In [52]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [53]:
y=dataset['label']

In [54]:
y.shape

(7920,)

In [55]:
from tensorflow.python.keras import layers
from tensorflow.python.keras.optimizers import adam
from tensorflow.python.keras.callbacks import EarlyStopping
from numpy import array
from tensorflow.python.keras.preprocessing.text import one_hot
from tensorflow.python.keras.preprocessing.sequence import pad_sequences
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense
from tensorflow.python.keras.layers import Flatten
from tensorflow.python.keras.layers.embeddings import Embedding
from tensorflow.python.keras.layers import Dropout
from tensorflow.python.keras.layers import Conv1D,MaxPooling1D
from tensorflow.python.keras.layers import LSTM

In [56]:
embedding_vecor_length = 32
model = Sequential()
model.add(Embedding(10000, embedding_vecor_length, input_length=100)) #Embedding(vocublary_size, output_from_Embedding_layer>=32, size of text(no.of.words))
model.add(Flatten())
model.add(Dense(250, activation='relu'))
model.add(Dense(125,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 100, 32)           320000
_________________________________________________________________
flatten (Flatten)            (None, 3200)              0
_________________________________________________________________
dense (Dense)                (None, 250)               800250
_________________________________________________________________
dense_1 (Dense)              (None, 125)               31375
_________________________________________________________________
dropout (Dropout)            (None, 125)               0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 126
=================================================================
Total params: 1,151,751
Trainable params: 1,151,751
Non-trainable params: 0
_________________________________________________________________
None

In [57]:
from tensorflow.python.keras.callbacks import EarlyStopping
from tensorflow.python.keras.callbacks import ModelCheckpoint
from tensorflow.python.keras.models import load_model
from matplotlib import pyplot
es = EarlyStopping(monitor='accuracy', mode='min', verbose=1,patience=64)
mc = ModelCheckpoint(r'Analytics_vindhya_sentiment_anlaysis.h5', monitor='val_accuracy',mode='max', verbose=1, save_best_only=True)
 # fit model
history = model.fit( X, y,validation_split=0.2,epochs=100, verbose=1,callbacks=[es,mc])

Epoch 1/100
197/198 [============================>.] - ETA: 0s - loss: 0.4679 - accuracy: 0.7874
Epoch 00001: val_accuracy improved from -inf to 0.82071, saving model to Analytics_vindhya_sentiment_anlaysis.h5
198/198 [==============================] - 4s 21ms/step - loss: 0.4675 - accuracy: 0.7879 - val_loss: 0.4187 - val_accuracy: 0.8207
Epoch 2/100
198/198 [==============================] - ETA: 0s - loss: 0.3738 - accuracy: 0.8401
Epoch 00002: val_accuracy improved from 0.82071 to 0.84785, saving model to Analytics_vindhya_sentiment_anlaysis.h5
198/198 [==============================] - 3s 17ms/step - loss: 0.3738 - accuracy: 0.8401 - val_loss: 0.3816 - val_accuracy: 0.8479
Epoch 3/100
197/198 [============================>.] - ETA: 0s - loss: 0.3524 - accuracy: 0.8496
Epoch 00003: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.3519 - accuracy: 0.8497 - val_loss: 0.3738 - val_accuracy: 0.8479
Epoch 4/100
197/198 [============================>.] - ETA: 0s - loss: 0.3333 - accuracy: 0.8593
Epoch 00004: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.3327 - accuracy: 0.8597 - val_loss: 0.3771 - val_accuracy: 0.8447
Epoch 5/100
195/198 [============================>.] - ETA: 0s - loss: 0.3106 - accuracy: 0.8750
Epoch 00005: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.3112 - accuracy: 0.8745 - val_loss: 0.4020 - val_accuracy: 0.8460
Epoch 6/100
196/198 [============================>.] - ETA: 0s - loss: 0.2848 - accuracy: 0.8833
Epoch 00006: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.2843 - accuracy: 0.8838 - val_loss: 0.4420 - val_accuracy: 0.8289
Epoch 7/100
198/198 [==============================] - ETA: 0s - loss: 0.2505 - accuracy: 0.9015
Epoch 00007: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.2505 - accuracy: 0.9015 - val_loss: 0.4557 - val_accuracy: 0.8396
Epoch 8/100
195/198 [============================>.] - ETA: 0s - loss: 0.2257 - accuracy: 0.9143
Epoch 00008: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.2251 - accuracy: 0.9143 - val_loss: 0.5714 - val_accuracy: 0.8346
Epoch 9/100
196/198 [============================>.] - ETA: 0s - loss: 0.2083 - accuracy: 0.9224
Epoch 00009: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 18ms/step - loss: 0.2093 - accuracy: 0.9217 - val_loss: 0.5381 - val_accuracy: 0.8258
Epoch 10/100
196/198 [============================>.] - ETA: 0s - loss: 0.2033 - accuracy: 0.9247
Epoch 00010: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.2034 - accuracy: 0.9246 - val_loss: 0.6044 - val_accuracy: 0.8384
Epoch 11/100
197/198 [============================>.] - ETA: 0s - loss: 0.1842 - accuracy: 0.9321
Epoch 00011: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1839 - accuracy: 0.9321 - val_loss: 0.7219 - val_accuracy: 0.8371
Epoch 12/100
196/198 [============================>.] - ETA: 0s - loss: 0.1729 - accuracy: 0.9367
Epoch 00012: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1728 - accuracy: 0.9367 - val_loss: 0.7550 - val_accuracy: 0.8321
Epoch 13/100
196/198 [============================>.] - ETA: 0s - loss: 0.1735 - accuracy: 0.9361
Epoch 00013: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1732 - accuracy: 0.9362 - val_loss: 0.9417 - val_accuracy: 0.8308
Epoch 14/100
198/198 [==============================] - ETA: 0s - loss: 0.1705 - accuracy: 0.9381
Epoch 00014: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1705 - accuracy: 0.9381 - val_loss: 0.8216 - val_accuracy: 0.8270
Epoch 15/100
198/198 [==============================] - ETA: 0s - loss: 0.1641 - accuracy: 0.9418
Epoch 00015: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1641 - accuracy: 0.9418 - val_loss: 0.8924 - val_accuracy: 0.8359
Epoch 16/100
197/198 [============================>.] - ETA: 0s - loss: 0.1725 - accuracy: 0.9386
Epoch 00016: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1722 - accuracy: 0.9388 - val_loss: 0.8920 - val_accuracy: 0.8346
Epoch 17/100
197/198 [============================>.] - ETA: 0s - loss: 0.1575 - accuracy: 0.9453
Epoch 00017: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1581 - accuracy: 0.9451 - val_loss: 1.0066 - val_accuracy: 0.8378
Epoch 18/100
197/198 [============================>.] - ETA: 0s - loss: 0.1580 - accuracy: 0.9437
Epoch 00018: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1582 - accuracy: 0.9435 - val_loss: 0.9577 - val_accuracy: 0.8365
Epoch 19/100
195/198 [============================>.] - ETA: 0s - loss: 0.1507 - accuracy: 0.9444
Epoch 00019: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1507 - accuracy: 0.9443 - val_loss: 0.9546 - val_accuracy: 0.8333
Epoch 20/100
198/198 [==============================] - ETA: 0s - loss: 0.1487 - accuracy: 0.9454
Epoch 00020: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1487 - accuracy: 0.9454 - val_loss: 0.9427 - val_accuracy: 0.8264
Epoch 21/100
198/198 [==============================] - ETA: 0s - loss: 0.1481 - accuracy: 0.9459
Epoch 00021: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1481 - accuracy: 0.9459 - val_loss: 1.1191 - val_accuracy: 0.8283
Epoch 22/100
198/198 [==============================] - ETA: 0s - loss: 0.1475 - accuracy: 0.9462
Epoch 00022: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1475 - accuracy: 0.9462 - val_loss: 0.9853 - val_accuracy: 0.8333
Epoch 23/100
197/198 [============================>.] - ETA: 0s - loss: 0.1495 - accuracy: 0.9442
Epoch 00023: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1492 - accuracy: 0.9444 - val_loss: 0.9913 - val_accuracy: 0.8302
Epoch 24/100
195/198 [============================>.] - ETA: 0s - loss: 0.1495 - accuracy: 0.9450
Epoch 00024: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1511 - accuracy: 0.9444 - val_loss: 0.9785 - val_accuracy: 0.8378
Epoch 25/100
197/198 [============================>.] - ETA: 0s - loss: 0.1541 - accuracy: 0.9443
Epoch 00025: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1543 - accuracy: 0.9441 - val_loss: 1.2101 - val_accuracy: 0.8327
Epoch 26/100
196/198 [============================>.] - ETA: 0s - loss: 0.1696 - accuracy: 0.9405
Epoch 00026: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1703 - accuracy: 0.9402 - val_loss: 1.0182 - val_accuracy: 0.8333
Epoch 27/100
196/198 [============================>.] - ETA: 0s - loss: 0.1717 - accuracy: 0.9407
Epoch 00027: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1712 - accuracy: 0.9410 - val_loss: 1.0472 - val_accuracy: 0.8327
Epoch 28/100
197/198 [============================>.] - ETA: 0s - loss: 0.1477 - accuracy: 0.9450
Epoch 00028: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1482 - accuracy: 0.9448 - val_loss: 1.1086 - val_accuracy: 0.8283
Epoch 29/100
198/198 [==============================] - ETA: 0s - loss: 0.1435 - accuracy: 0.9474
Epoch 00029: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1435 - accuracy: 0.9474 - val_loss: 0.9994 - val_accuracy: 0.8333
Epoch 30/100
196/198 [============================>.] - ETA: 0s - loss: 0.1442 - accuracy: 0.9479
Epoch 00030: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1436 - accuracy: 0.9482 - val_loss: 1.1872 - val_accuracy: 0.8346
Epoch 31/100
195/198 [============================>.] - ETA: 0s - loss: 0.1425 - accuracy: 0.9473
Epoch 00031: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1418 - accuracy: 0.9476 - val_loss: 1.2480 - val_accuracy: 0.8327
Epoch 32/100
198/198 [==============================] - ETA: 0s - loss: 0.1414 - accuracy: 0.9470
Epoch 00032: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1414 - accuracy: 0.9470 - val_loss: 1.3238 - val_accuracy: 0.8314
Epoch 33/100
197/198 [============================>.] - ETA: 0s - loss: 0.1393 - accuracy: 0.9472
Epoch 00033: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1391 - accuracy: 0.9473 - val_loss: 1.3866 - val_accuracy: 0.8333
Epoch 34/100
196/198 [============================>.] - ETA: 0s - loss: 0.1395 - accuracy: 0.9472
Epoch 00034: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1395 - accuracy: 0.9474 - val_loss: 1.3449 - val_accuracy: 0.8352
Epoch 35/100
196/198 [============================>.] - ETA: 0s - loss: 0.1382 - accuracy: 0.9483
Epoch 00035: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1382 - accuracy: 0.9484 - val_loss: 1.3540 - val_accuracy: 0.8340
Epoch 36/100
196/198 [============================>.] - ETA: 0s - loss: 0.1410 - accuracy: 0.9477
Epoch 00036: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1407 - accuracy: 0.9478 - val_loss: 1.3137 - val_accuracy: 0.8340
Epoch 37/100
197/198 [============================>.] - ETA: 0s - loss: 0.1421 - accuracy: 0.9470
Epoch 00037: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1417 - accuracy: 0.9471 - val_loss: 1.7155 - val_accuracy: 0.8295
Epoch 38/100
198/198 [==============================] - ETA: 0s - loss: 0.1443 - accuracy: 0.9470
Epoch 00038: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1443 - accuracy: 0.9470 - val_loss: 1.5125 - val_accuracy: 0.8390
Epoch 39/100
195/198 [============================>.] - ETA: 0s - loss: 0.1669 - accuracy: 0.9393
Epoch 00039: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1663 - accuracy: 0.9392 - val_loss: 1.6745 - val_accuracy: 0.8308
Epoch 40/100
196/198 [============================>.] - ETA: 0s - loss: 0.1678 - accuracy: 0.9405
Epoch 00040: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1669 - accuracy: 0.9408 - val_loss: 1.2981 - val_accuracy: 0.8258
Epoch 41/100
195/198 [============================>.] - ETA: 0s - loss: 0.1690 - accuracy: 0.9383
Epoch 00041: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1697 - accuracy: 0.9380 - val_loss: 1.2297 - val_accuracy: 0.8352
Epoch 42/100
195/198 [============================>.] - ETA: 0s - loss: 0.1534 - accuracy: 0.9446
Epoch 00042: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1538 - accuracy: 0.9443 - val_loss: 1.1139 - val_accuracy: 0.8321
Epoch 43/100
196/198 [============================>.] - ETA: 0s - loss: 0.1411 - accuracy: 0.9474
Epoch 00043: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1411 - accuracy: 0.9473 - val_loss: 1.2139 - val_accuracy: 0.8333
Epoch 44/100
196/198 [============================>.] - ETA: 0s - loss: 0.1387 - accuracy: 0.9491
Epoch 00044: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1381 - accuracy: 0.9493 - val_loss: 1.3724 - val_accuracy: 0.8346
Epoch 45/100
198/198 [==============================] - ETA: 0s - loss: 0.1376 - accuracy: 0.9482
Epoch 00045: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1376 - accuracy: 0.9482 - val_loss: 1.3016 - val_accuracy: 0.8308
Epoch 46/100
196/198 [============================>.] - ETA: 0s - loss: 0.1374 - accuracy: 0.9501
Epoch 00046: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1378 - accuracy: 0.9498 - val_loss: 1.3719 - val_accuracy: 0.8321
Epoch 47/100
197/198 [============================>.] - ETA: 0s - loss: 0.1386 - accuracy: 0.9473
Epoch 00047: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1382 - accuracy: 0.9474 - val_loss: 1.2735 - val_accuracy: 0.8346
Epoch 48/100
196/198 [============================>.] - ETA: 0s - loss: 0.1398 - accuracy: 0.9487
Epoch 00048: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1394 - accuracy: 0.9489 - val_loss: 1.5267 - val_accuracy: 0.8352
Epoch 49/100
195/198 [============================>.] - ETA: 0s - loss: 0.1370 - accuracy: 0.9481
Epoch 00049: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1380 - accuracy: 0.9479 - val_loss: 1.5163 - val_accuracy: 0.8365
Epoch 50/100
197/198 [============================>.] - ETA: 0s - loss: 0.1370 - accuracy: 0.9486
Epoch 00050: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1369 - accuracy: 0.9487 - val_loss: 1.3983 - val_accuracy: 0.8314
Epoch 51/100
197/198 [============================>.] - ETA: 0s - loss: 0.1373 - accuracy: 0.9483
Epoch 00051: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1370 - accuracy: 0.9484 - val_loss: 1.4738 - val_accuracy: 0.8346
Epoch 52/100
195/198 [============================>.] - ETA: 0s - loss: 0.1382 - accuracy: 0.9474
Epoch 00052: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1377 - accuracy: 0.9478 - val_loss: 1.5623 - val_accuracy: 0.8308
Epoch 53/100
196/198 [============================>.] - ETA: 0s - loss: 0.1364 - accuracy: 0.9485
Epoch 00053: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1369 - accuracy: 0.9479 - val_loss: 1.5808 - val_accuracy: 0.8308
Epoch 54/100
196/198 [============================>.] - ETA: 0s - loss: 0.1355 - accuracy: 0.9482
Epoch 00054: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1363 - accuracy: 0.9476 - val_loss: 1.5748 - val_accuracy: 0.8327
Epoch 55/100
196/198 [============================>.] - ETA: 0s - loss: 0.1359 - accuracy: 0.9483
Epoch 00055: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1359 - accuracy: 0.9482 - val_loss: 1.7010 - val_accuracy: 0.8333
Epoch 56/100
196/198 [============================>.] - ETA: 0s - loss: 0.1374 - accuracy: 0.9490
Epoch 00056: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1381 - accuracy: 0.9485 - val_loss: 1.8784 - val_accuracy: 0.8258
Epoch 57/100
196/198 [============================>.] - ETA: 0s - loss: 0.1611 - accuracy: 0.9415
Epoch 00057: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1605 - accuracy: 0.9416 - val_loss: 1.2405 - val_accuracy: 0.8201
Epoch 58/100
197/198 [============================>.] - ETA: 0s - loss: 0.1616 - accuracy: 0.9421
Epoch 00058: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1612 - accuracy: 0.9422 - val_loss: 1.4560 - val_accuracy: 0.8314
Epoch 59/100
198/198 [==============================] - ETA: 0s - loss: 0.1413 - accuracy: 0.9474
Epoch 00059: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1413 - accuracy: 0.9474 - val_loss: 1.4904 - val_accuracy: 0.8327
Epoch 60/100
197/198 [============================>.] - ETA: 0s - loss: 0.1378 - accuracy: 0.9497
Epoch 00060: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1373 - accuracy: 0.9500 - val_loss: 1.4571 - val_accuracy: 0.8340
Epoch 61/100
196/198 [============================>.] - ETA: 0s - loss: 0.1355 - accuracy: 0.9490
Epoch 00061: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1354 - accuracy: 0.9492 - val_loss: 1.6629 - val_accuracy: 0.8390
Epoch 62/100
197/198 [============================>.] - ETA: 0s - loss: 0.1349 - accuracy: 0.9488
Epoch 00062: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1351 - accuracy: 0.9484 - val_loss: 1.6078 - val_accuracy: 0.8359
Epoch 63/100
198/198 [==============================] - ETA: 0s - loss: 0.1347 - accuracy: 0.9481
Epoch 00063: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1347 - accuracy: 0.9481 - val_loss: 1.4368 - val_accuracy: 0.8283
Epoch 64/100
196/198 [============================>.] - ETA: 0s - loss: 0.1371 - accuracy: 0.9482
Epoch 00064: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 16ms/step - loss: 0.1369 - accuracy: 0.9482 - val_loss: 1.6172 - val_accuracy: 0.8346
Epoch 65/100
197/198 [============================>.] - ETA: 0s - loss: 0.1349 - accuracy: 0.9494
Epoch 00065: val_accuracy did not improve from 0.84785
198/198 [==============================] - 3s 17ms/step - loss: 0.1349 - accuracy: 0.9495 - val_loss: 1.9353 - val_accuracy: 0.8384
Epoch 00065: early stopping

In [104]:
dataset_test=pd.read_csv('/content/drive/My Drive/Analytics Vindhya/test.csv')

In [105]:
dataset_test

        id                                              tweet
0     7921  I hate the new #iphone upgrade. Won't let me d...
1     7922  currently shitting my fucking pants. #apple #i...
2     7923  I'd like to puts some CD-ROMS on my iPad, is t...
3     7924  My ipod is officially dead. I lost all my pict...
4     7925  Been fighting iTunes all night! I only want th...
...    ...                                                ...
1948  9869  #SamsungGalaxyNote7 Explodes, Burns 6-Year-Old...
1949  9870  Now Available - Hoodie. Check it out here - ht...
1950  9871  There goes a crack right across the screen. If...
1951  9872  @codeofinterest as i said #Adobe big time we m...
1952  9873  Finally I got it .. thanx my father .. #Samsun...

[1953 rows x 2 columns]

In [106]:
dataset_test['preprocessed_tweet']=dataset_test['tweet'].apply(lambda x:' '.join([word for word in x.split() if word not in (stop)]))
dataset_test['preprocessed_tweet']=dataset_test['preprocessed_tweet'].apply(lambda x:' '.join([ps.stem(word) for word in x.split()]))
dataset_test['preprocessed_tweet']=dataset_test['preprocessed_tweet'].apply(lambda x:' '.join([lm.lemmatize(word) for word in x.split()]))
dataset_test['preprocessed_tweet']=dataset_test['preprocessed_tweet'].apply(remove_links)
dataset_test['preprocessed_tweet']=dataset_test['preprocessed_tweet'].apply(remove_punctuation)
dataset_test['preprocessed_tweet']=dataset_test['preprocessed_tweet'].apply(lambda x:x.lower())

In [107]:
dataset_test

        id  ...                                 preprocessed_tweet
0     7921  ...  i hate new iphon upgrade won't let download ap...
1     7922  ...  current shit fuck pants appl imac cashmoney ra...
2     7923  ...  i'd like put cdrom ipad possible' — yes block ...
3     7924  ...  my ipod offici dead i lost pictur video 1d 5so...
4     7925  ...         been fight itun night i want music i  paid
...    ...  ...                                                ...
1948  9869  ...  samsunggalaxynote7 explodes burn 6yearold than...
1949  9870  ...  now avail  hoodie check  2utmcampaignsocialaut...
1950  9871  ...  there goe crack right across screen if could a...
1951  9872  ...  codeofinterest said adob big time may well inc...
1952  9873  ...  final i got  thanx father  samsung galaxi s3 g...

[1953 rows x 3 columns]

In [109]:
dataset_test['label']=dataset_test['preprocessed_tweet'].apply(get_tweet_sentiment)

In [110]:
dataset_test

        id  ... label
0     7921  ...     1
1     7922  ...     1
2     7923  ...     0
3     7924  ...     1
4     7925  ...     0
...    ...  ...   ...
1948  9869  ...     0
1949  9870  ...     0
1950  9871  ...     0
1951  9872  ...     0
1952  9873  ...     0

[1953 rows x 4 columns]

In [113]:
dataset_test[['id','label']].to_csv('textblob_classification.csv')

In [62]:
X_test = cv.fit_transform(dataset_test['preprocessed_tweet']).toarray()

In [63]:
X_test

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [64]:
dataset_test['label']=model.predict(X_test)

In [65]:
def approximate(x):
  if x>=0.5:
    return 1
  else:
    return 0

In [66]:
dataset_test['label']=dataset_test['label'].apply(approximate)

In [67]:
dataset_test

        id  ... label
0     7921  ...     0
1     7922  ...     0
2     7923  ...     0
3     7924  ...     1
4     7925  ...     0
...    ...  ...   ...
1948  9869  ...     0
1949  9870  ...     0
1950  9871  ...     1
1951  9872  ...     1
1952  9873  ...     0

[1953 rows x 4 columns]

In [68]:
final_dataset=dataset_test[['id','label']]

In [69]:
final_dataset

        id  label
0     7921      0
1     7922      0
2     7923      0
3     7924      1
4     7925      0
...    ...    ...
1948  9869      0
1949  9870      0
1950  9871      1
1951  9872      1
1952  9873      0

[1953 rows x 2 columns]

In [70]:
final_dataset.to_csv('final_submission.csv')